.app {
    height: calc(100vh - 5rem);
    margin: 2.5rem;
    display: flex;
    position: relative;
}

.app .hamburger {
    display: none;
    z-index: 2000;
    position: absolute;
    font-size: 3rem;
    left: 1.3rem;
    top: 1.3rem;
    font-weight: 700;
    padding: 0.3rem 0.8rem;
    border: none;
    color: var(--color-dark-1);
    border-radius: 5px;
    background-color: var(--color-light-1);
}

.bar {
    background-color: var(--color-dark-1);
    height: 4px;
    width: 2.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
}

@media only screen and (max-width: 414px) {
    .app {
        height: 100vh;
        margin: 0;
    }

    .app .hamburger {
        display: inline-block;
    }
}