.login {
    height: calc(100vh - 5rem);
    margin: 2.5rem;
    background-color: var(--color-dark-1);
    padding: 2.5rem 5rem;
    /* position: absolute; */
}

.form {
    background-color: var(--color-dark-2);
    border-radius: 7px;
    width: 48rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem;
    gap: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


@media only screen and (max-width: 414px) {
    .login {
        height: 100vh;
        margin: 0;
        padding: 2rem 2rem;
        /* position: absolute; */
    }

    .form {
        width: 80%;
    }
}