.pricing {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-color: var(--color-dark-1);
  padding: 2.5rem 5rem;
}

.pricing section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  gap: 5rem;
  margin: 6rem auto;
}

.pricing div {
  width: 50%;
}

.pricing h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.pricing p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.pricing .img {
  width: 45%;
}
