.product {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-color: var(--color-dark-1);
  padding: 2.5rem 5rem;
}

.product section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  gap: 6rem;
  margin: 5rem auto;
}

.product div {
  width: 50%;
  text-align: left;
}

.product .img {
  width: 45%;
}

.product h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin: 2rem;
  margin: 0;
}