.cityList {
    list-style: none;
    width: 100%;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
    width: 0;
}