.mapContainer {
    height: 100%;
    width: 62%;
    background-color: var(--color-dark--2);
    position: relative;
}

.map {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 414px) {
    .mapContainer {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}